<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="seleniumTest.ActionTest">
		  <methods>
			  <include name="PerformActions"/>
		  </methods>
		  </class>
<!--      <class name=".SumOfCourses"/>-->
<!--      <class name="jiraRestApiCRUD.ApiCRUD"/>-->
<!--      <class name="seleniumTest.OrderOfAnnotations"/>-->
<!--      <class name="seleniumTest.CheckonAnnotation2"/>-->
<!--      <class name="jiraRestApiCRUD.LogintoAccount"/>-->
<!--      <class name="seleniumTest.FirstPrgm"/>-->
<!--      <class name="javaBasics.ExeptionExample"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
